@model WebsiteSellingSport.Models.Size

@{
    ViewData["Title"] = "Edit";
}
<main>
    <div class="container-fluid px-4">
        <h1>Edit Size</h1>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form href="@Url.RouteUrl("areas", new {area="Admin",controller="Sizes",action="Edit"})" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="SizeId" />
                    <div class="form-group">
                        <label asp-for="SizeName" class="control-label"></label>
                        <input asp-for="SizeName" class="form-control" />
                        <span asp-validation-for="SizeName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SizeCode" class="control-label"></label>
                        <input asp-for="SizeCode" class="form-control" />
                        <span asp-validation-for="SizeCode" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a href="@Url.RouteUrl("areas", new {area="Admin",controller="Sizes",action="Index"})">Quay lại</a>
        </div>
    </div>
</main>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
